<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dob</key>
		<date>1978-08-14T17:58:21Z</date>
		<key>fullName</key>
		<string>Andrew Little</string>
		<key>imagePath</key>
		<string>andrew_little</string>
		<key>jobTitle</key>
		<string>Software Engineer</string>
		<key>yearsEmployed</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>dob</key>
		<date>1983-06-08T17:58:21Z</date>
		<key>fullName</key>
		<string>Megan Little</string>
		<key>imagePath</key>
		<string>megan_little</string>
		<key>jobTitle</key>
		<string>Environmentalist</string>
		<key>yearsEmployed</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>dob</key>
		<date>1982-07-10T17:58:21Z</date>
		<key>fullName</key>
		<string>Orla MacEachern</string>
		<key>imagePath</key>
		<string>orla_maceachern</string>
		<key>jobTitle</key>
		<string>Hair Stylist</string>
		<key>yearsEmployed</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>dob</key>
		<date>1980-06-08T17:58:21Z</date>
		<key>fullName</key>
		<string>Evan Sommerville</string>
		<key>imagePath</key>
		<string>evan_sommerville</string>
		<key>jobTitle</key>
		<string>Project Manager</string>
		<key>yearsEmployed</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>dob</key>
		<date>1981-06-08T17:58:21Z</date>
		<key>fullName</key>
		<string>Andrew Warner</string>
		<key>imagePath</key>
		<string>andrew_warner</string>
		<key>jobTitle</key>
		<string>Entrepreneur</string>
		<key>yearsEmployed</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>dob</key>
		<date>1975-03-08T18:58:21Z</date>
		<key>fullName</key>
		<string>Daniel Tosh</string>
		<key>imagePath</key>
		<string>daniel_tosh</string>
		<key>jobTitle</key>
		<string>Lunch Comedian</string>
		<key>yearsEmployed</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>dob</key>
		<date>1980-01-20T18:58:21Z</date>
		<key>fullName</key>
		<string>Dimetri Martin</string>
		<key>imagePath</key>
		<string>dimetri_martin</string>
		<key>jobTitle</key>
		<string>Staff Comedian</string>
		<key>yearsEmployed</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>dob</key>
		<date>1979-07-28T17:58:21Z</date>
		<key>fullName</key>
		<string>Jack Dorsey</string>
		<key>imagePath</key>
		<string>jack_dorsey</string>
		<key>jobTitle</key>
		<string>CEO</string>
		<key>yearsEmployed</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>dob</key>
		<date>1978-12-08T18:58:21Z</date>
		<key>fullName</key>
		<string>Josh Topolsky</string>
		<key>imagePath</key>
		<string>josh_topolsky</string>
		<key>jobTitle</key>
		<string>Blogger</string>
		<key>yearsEmployed</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>dob</key>
		<date>1972-02-15T18:58:21Z</date>
		<key>fullName</key>
		<string>Marcel Lebrun</string>
		<key>imagePath</key>
		<string>marcel_lebrun</string>
		<key>jobTitle</key>
		<string>Founder</string>
		<key>yearsEmployed</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>dob</key>
		<date>1990-06-08T17:58:21Z</date>
		<key>fullName</key>
		<string>Mars Volta</string>
		<key>imagePath</key>
		<string>mars_volta</string>
		<key>jobTitle</key>
		<string>Company Band</string>
		<key>yearsEmployed</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>dob</key>
		<date>1980-06-08T17:58:21Z</date>
		<key>fullName</key>
		<string>Ryan Sarver</string>
		<key>imagePath</key>
		<string>ryan_sarver</string>
		<key>jobTitle</key>
		<string>API Evangelist</string>
		<key>yearsEmployed</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>dob</key>
		<date>1970-05-18T17:58:21Z</date>
		<key>fullName</key>
		<string>Vic Gundotra</string>
		<key>imagePath</key>
		<string>vic_gundotra</string>
		<key>jobTitle</key>
		<string>Senior VP</string>
		<key>yearsEmployed</key>
		<integer>10</integer>
	</dict>
</array>
</plist>
